.datatable {
    height:85%;
    
    padding: 8px;
    
   
  
      
      button{
        max-width: 30px;
      }
      .cellWithImg {
        display: flex;
        align-items: center;
    
        .cellImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
      }
    
    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;
  
      &.Hoạt, &.Đang{
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Hết, &.Hủy {
        color: red;
        background-color: rgba(236, 118, 45, 0.151);
      }
      &.Khóa, &.Lưu, &.Đã {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
      &.Chờ {
        color: blue;
        background-color: rgba(115, 178, 242, 0.151);
      }
    }
  
    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
        &:hover{
          background-color: #c6ebfa;
          }
      }
      
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
        &:hover{
          background-color: #fad3c6;
          }
      }
      .blockButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(220, 120, 20);
        border: 1px dotted rgba(220, 133, 20, 0.6);
        cursor: pointer;
        &:hover{
          background-color: #fafac6;
          }
      }
      .activeButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(32, 161, 15);
        border: 1px dotted rgba(4, 106, 23, 0.6);
        cursor: pointer;
        &:hover{
          background-color: #cbf6c8;
          }
      }
    }
  }
  